hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.square {
  height: 100px;
  width: 100px;
  background-color: red;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50px;
}

.c_card {
  border: 1px dotted black;
  width: 360px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.c_card .title {
  font-family: Arial;
}

.d_card p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.d_card {
  border: 1px solid black;
  width: 360px;
  padding: 20px 15px;
  background-color: #1e1d1f;
}

.d_card .title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.d_card .sub-title {
  color: rgb(160, 160, 160);
}

.e_card {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  width: 450px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
}

.e_card .img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
  object-fit: cover;
}

.e_card .status-input {
  font-size: 18px;
  vertical-align: middle;
  width: 300px;
  border: none;
}

.e_card .status-input:focus {
  outline: none;
}

.e_card .tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

.f_card {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.f_card p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.f_card .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.f_card .name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}

.f_card .mutual-friend {
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
}

.f_card .add-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.g_card {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 15px;
}

.g_card p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.g_card .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.g_card .name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}

.g_card .mutual-friend {
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
}

.g_card .add-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}
