.a-container {
  font-family: Tahoma;
}

.a-container p {
  font-size: 18px;
  font-weight: bold;
}

.b-container {
  font-family: Arial;
}

.b-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.b-container .biggest-deal {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.b-container .sales-end {
  color: #db3930;
  font-style: italic;
  font-weight: bold;
}

.c-container {
  font-family: Verdana;
}

.c-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.c-container .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.c-container .sub-title {
  font-size: 16px;
  color: #9e9c9e;
  margin-bottom: 16px;
}

.c-container .description {
  width: 300px;
  line-height: 24px;
  margin-bottom: 15px;
}

.c-container button {
  background-color: #2e661d;
  border: none;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.d-container {
  font-family: Arial;
  text-align: center;
}

.d-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.d-container .title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.d-container .sub-title {
  margin-bottom: 15px;
}
.d-container .learn-more {
  color: #41568c;
}

.d-container .learn-more:hover {
  cursor: pointer;
}

.e-container {
  font-family: Arial;
  text-align: center;
}

.e-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.e-container .new {
  color: #cf5014;
  margin-bottom: 7px;
}

.e-container .product {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 7px;
}
.e-container .title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 7px;
}

.e-container .buy-button {
  margin-top: 10px;
  background-color: #316fdd;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 16px;
}

.f-container {
  font-family: Arial;
}

.f-container .amount {
  font-size: 40px;
}
.f-container p .currency-name {
  color: #605f60;
  font-size: 18px;
}

.f-container .today-stat {
  color: #49794d;
}

.f-container .next-amount {
  color: #656465;
  font-size: 18px;
}
.f-container .up-down {
  color: #c94140;
  font-size: 18px;
}

.g-container {
  font-family: Arial;
}

.g-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.g-container .name-block {
  font-size: 18px;
  margin-bottom: 8px;
}

.g-container .name-block .name {
  font-weight: bold;
}
.g-container .name-block .username-time {
  color: #9d9c9d;
}

.g-container .description {
  width: 500px;
  line-height: 24px;
  margin-bottom: 18px;
}

.g-container .outline .tag {
  color: #4571a4;
}
