.search-bar {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.thumbnail {
  width: 300px;
  display: block;
  /* height: 300px;
  object-fit: contain;
  object-position: top;
  border: 1px solid red; */
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.profile-picture {
  width: 100%;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.video-title {
  margin-top: 0;
}
